.add {
	padding: 20px;
	border: 2px solid teal;
}

.search {
	border: 2px solid teal;
	border-top: none;
	padding: 20px;
}

.button {
	width: 15%;
	padding: 10px;
	background-color: #2196F3;
	color: white;
	font-size: 17px;
	font-weight: bold;
  	border: 1px solid grey;
  	border-left: none;
	cursor: pointer;
} 

h1 {
	text-decoration: underline;
}

input[type=text],select {
	margin: auto;
	max-width: 300px;
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

div.search button:hover {
	background: #0b7dda;
}
